body {
  font: 100%/1.5 system-ui;
  color: rgb(196, 118, 229);
  margin: 0;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input, textarea {
  max-width: 100%;
  width: 200px;
}